.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-menu.navbar {
  background-color: rgb(5, 23, 71) !important;
}

.nav-menu-brand {
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(162, 162, 162) !important;
}

.button-menu {
  background-color: rgb(5, 23, 71) !important;
}

.button-menu:focus {
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .login-container {
    margin-top: 10px !important;
  }
}

.login-container {
  width: 420px !important;
  margin-top: 200px;
}

.dropdown-toggle {
  background-color: rgb(5, 23, 71) !important;
}

.page-link {
  background-color: rgb(218, 218, 218) !important;
  color: black !important
}

.page-link:hover {
  background-color: rgb(182, 182, 182) !important;
  color: black !important
}