.group-description-container {
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  white-space: pre-line;
}

.words-add-body {
  margin-left: 2rem;
  margin-top: 30px;
}

.words-add-header {
  margin-bottom: 1rem;
  font-size: large;
}