.groups-menubar {
  display: table;
  grid-template-columns: repeat(8, minmax(0, 1fr)); /*repeat(5, minmax(0, 1fr));*/
  text-align: center;
  padding: 0rem 1rem;

  margin: 10px;
  padding-top: 10px;
  margin-bottom: -5px;
  padding-left: 0;
}

.groups-menubar-button {
  font-size: 20px;
  margin-top: -5px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  color: black;
  background-color: rgb(202, 203, 209);
  border-style: none;
}

.active {
  font-weight: bold;
}

.groups-add-body {
  margin-left: 2rem;
  max-width: 500px;
  margin-top: 30px;
}