.page-container {
  width: 920px;
  background-color: white;
  font-size: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
  overflow: hidden;
  padding-top: 80px;
  margin: auto;
  height: 2000px;
}