.page-back-button {
  background-color: rgb(202, 203, 209);
  color: black;
  user-select: inherit;
  border-style: none;
  font-size: 25px;
  margin-top: 7px;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.item-list-delete-button {
  right: 0px;
  bottom: 0px;
  margin-right: 390px;
  margin-bottom: 10px;
  position: absolute;
}