.loginform-input-label,
.groups-add-input-label {
  font-size: x-large;
  margin-bottom: 5px;
}

.loginform-input-field,
.groups-add-input-field {
  margin-bottom: 15px;
  font-size: large;
  height: 25px;
  width: 97.8%;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  padding-right: 0px;
}

.loginform-submit-button,
.groups-add-button {
  background-color: rgb(83, 95, 128);
  color: rgb(231, 233, 240);
  padding: 8px;
  font-size: x-large;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  user-select: inherit;
  border-style: none;
  width: 100%;
}

.loginform-submit-button:hover,
.groups-add-button:hover {
  background-color: rgb(5, 23, 71);
}

.groups-add-input-label {
  font-size: medium;
  margin-bottom: 5px;
}

.groups-add-input-field {
  font-size: medium;
  height: 20px;
  width: 98.5%;
  border-width: 1px;
}

.groups-add-button {
  font-size: large;
}

.groups-add-textarea-field {
  margin-bottom: 15px;
  font-size: large;
  height: 100px;
  width: 98.5%;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  padding-right: 0px;
  resize: vertical;
  margin-top: 5px;
}