.page-container {
  max-width: 1080px;
  background-color: white;
  font-size: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  margin-bottom: 0;
  margin-top: 80px;
  height: calc(100% - 140px);
  overflow: auto;
}