/*@import url('https://fonts.cdnfonts.com/css/santelia-rough');*/

.appbar-container {
  background-color: rgb(5, 23, 71);
  color: rgb(231, 233, 240);
  height: 80px;
  position: fixed;
  width: 100%;
}

.appbar-logo {
  padding: 6px;
  padding-left: 20px;
  font-size: 64px;
  font-family: 'Tangerine', cursive;
  cursor: pointer;
  position: absolute;
  user-select: none;
  font-weight: bold;
}

.appbar-button {
  font-size: 20px;
  margin-top: 5px;
  margin-right: -15px;
  cursor: pointer;
  user-select: none;
  color: rgb(231, 233, 240);
  background-color: rgb(5, 23, 71);
  border-style: none;
  margin-left: 40px;
}

.appbar-button:hover {
  color:rgb(182, 184, 190)
}

.appbar-menu {
  text-align: right;
  height: 60px;
  font-size: 20px;
  margin-top: 27px;
  margin-right: 40px;
  /*margin-right: 100px;*/
}

.appbar-burger {
  position: absolute;
  right: 10px;
  margin-top: -70px;
  margin-right: 15px;
}